* {
    font-family: 'proxima-nova';
   }

.allTrailsMain{
    background-color: blueviolet;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #323332;
    height: 200vh;
    width: 100%;

}

.topBar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://cdn-files.apstatic.com/hike/7049748_large_1532009684.jpg');
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    height: 22%;
    width: 100%;
    text-align: center;
}

.titleText{
    font:                           bolder 9vw 'Alfa Slab One';
    font: outline;
    text-align:                     center;
    margin:                         0;
    margin:                         auto;
    width:                          75vw;
    background-clip:                text;
    -webkit-background-clip:        text;
    color:                          White;
    text-shadow:
    -1px -1px 0 #323332,
    1px -1px 0 #323332,
    -1px 1px 0 #323332,
    1px 1px 0 #323332;
}

.mainContent{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.trailsMainContainer{
    height: 100%;
    width: 50%;
    padding: 2%;
}

.header{
    height: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trails{
    height: 90%;
    width: 100%;
    overflow: scroll;
}

.headerChanger{
    height:100%;
    width: 100%;
}


.eachTrail{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    border-style: solid;
    border-color: #323332;
    background-color: #F68727;
}

.splitForPhotos{
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
}

.textColumnOnLeft{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EEEFEE;
    height: 90%;
    width: 50%;
    margin: 2%;
}

.summaryText{
    margin: 1%;
    height: 18%;
    width: 60%;
    background-color: #FEFFFE;
    padding-left: 5%;
}


.trailSummary{
    background-color: #EEEFEE;
    margin: 2%;
}

.summaryBox{
    background-color: #FEFFFE;
    margin: 2%;
}

.photoColumnOnRight{
    background-color: aquamarine;
    height: 90%;
    width: 50%;
    margin: 2%;
}

.statusSplitter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 8%;
}

.trailStatusContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.trailRemoverContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
    height: 8%;
    width: 100%;
}

.trailsTitleAndPhoto{
    display:flex;
    flex-direction: inline;
    width: 100%;
    height: 18%;
    margin: 2%;
}

.trailsConditionStar{
    display:flex;
    flex-direction: inline;
}

.trailLengthDifficulty{
    display:flex;
    flex-direction: inline;
}

.favoritesMainContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

/* .favoritesSubMainContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
} */

.favoritesSubMainContainer{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.favsButtonHolder{
    display: flex;
    justify-content: center;
    height: 2.5%;
    width: 100%; 
    margin: 1%;
}

.favsList{
    height: 46%;
    width: 96%;
    background-color: #EEEFEE;
    overflow: scroll;
}

.favsTitle{
    height: 10%;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-family: 'proxima-nova';
    font-weight: bolder;
    font-size: 4vh;
    background-color:#F68727;
}


.trailDeleteBtn{
    height: 4%;
    width: 20%;
    align-self: center;
    text-align: center;
    padding: 1px 7px 2px;
    cursor: default;
}

.newTrailFormContainer{
    display:flex;
    flex-direction: column;
    height:10%;
    width: 100%;
    margin: 2%;
    align-items: center;
}

.addToFavoritesButton{
    height: 80%;
    width: 100%;
    margin: 2%;
    font-weight: bolder;
    font-size: 2vh;

}

.trailStats{
    font-weight: bolder;
    font-size: 2vh;
    margin: 2%;
}

.trailStatsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #EEEFEE;
    margin: 2%;
}

.btn-sp{
    height: 4vh;
    width: 10vw;
}